.container{
    margin: 60px;
    max-width: 100%;
}
.accordion {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s ease; 
  }

  .accordion__content{
    margin-top: 30px;
  }
  .accordion.open {
    margin-bottom: 20px;
  }
  
  .accordion-title {
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .accordion-content {
    padding: 100px;
  }

  .title{
    display: flex;
    justify-content: space-between;
}

.primary{
    color: #4475F2;
}

p{
    font-family: var(--font-family);
    font-size:16px;
    
}