.map_container {
  text-align: center;
  margin: 60px;
  /* border: 2px solid red; */
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.image_container {
  max-width: 100%;
  margin-top: 30px;
}

.smallcontent {
  width: 280px;
  text-align: left;
}

@media (max-width: 768px) {
  .map_image {
    width: 100%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}
